@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --yellow: #f9d806;
  --light-yellow: #ffee80;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

body {
  background-color: #fafafa;
	margin: 0;
}

body.dark {
	background-color: #000;
}

body.dark h1 {
  color: white;
}

.theme {
  position: fixed;
  margin-left: 2rem;
  margin-top: 60rem;
  z-index: 9;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100vw;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh;
    width: auto;
    margin-left: 50vw;
    transform: translate(-50%);
  }
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
  }



.heading {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color: #000b49;
 
  }
  
  .heading span {
    position: relative;
    z-index: 0;
  }
  
  .heading span::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 100%;
    width: 100%;
  
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    z-index: 1000;
    background: #2666cf;
    /* font-size: 10px; */
    box-shadow: 0px 5px 12px 0px rgba(8, 7, 15, 0.71);
  }
  
  .header .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
  }
  
  .header .logo span {
    color: #f5f2e7;
  }
  
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #f5f2e7;
    position: relative;
    display: inline-block;  
  }
  .header .navbar a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
    top:30px;
    left: 0;
  }
  .header .navbar a:hover::after{
    width: 100%;
    height: 2px;
    background-color: #000b49;
  }
  
  .header .navbar a:hover {
    color: #000b49;
  }
  
  .header {
    color: #000b49;
  }
  #menu-btn{
    display: none;
  }
  
  
 h2{
    color: #f9d806;
    font-size: 55px;
    text-align: center;
 }

 .symbols{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
    gap: 3.5rem;
    padding: 105px;
    padding-left: 140px;
 }


.symbols img{
    /* padding: 30px 40px; */
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.4s all;
    background-color: #f3f3f3;
    box-shadow: -5px 10px 13px -11px #333333;
    height: 350px;
    display: flex;
    align-items: center;
}

.glow-on-hover {
  width: 350px;
  height: 350px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 20px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}






















.footer {
    background: #ffe3de;
    padding-left: 60px;
    padding-top: 30px;
    height: 430px;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.55rem;
    padding: 1rem 0;
    color: var(--black);
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.57rem;
    padding: 1rem 0;
    color: var(--light-color);
  }
  
  .footer .box-container .box a i {
    padding-right: 0.5rem;
    color: var(--black);
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 1.9rem;
  }

  body.dark .footer {
    background: #2678cf26;
    color: white;
  }

  body.dark .footer .box-container .box * {
    color: white;
  }
 
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  .header.active{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: block;
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  #login-btn .btn{
      display: none;
  }

  #login-btn i{
      display: block;
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background: #2666cf;
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      margin:2rem;
      display: block;
      font-size: 2rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 3rem;
  }

}