@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
	margin: 0;
}

body.dark {
	background-color: #000;
}

body.dark h1 {
  background-color: #000;
  color: white;
}

body.dark p {
  color: white;
}

.theme {
  position: fixed;
  margin-left: 2rem;
  margin-top: 60rem;
  z-index: 9;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: 1;
  background: #2666cf;
  box-shadow: 0px 5px 12px 0px rgba(8, 7, 15, 0.71);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
}

.header .logo span {
  color: #f5f2e7;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #f5f2e7;
  position: relative;
  display: inline-block;  
}
.header .navbar a::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
  top:30px;
  left: 0;
}
.header .navbar a:hover::after{
  width: 100%;
  height: 2px;
  background-color: #000b49;
}

.header .navbar a:hover {
  color: #000b49;
}

.header {
  color: #000b49;
}
#menu-btn {
  font-size: 2.5rem;
  color: var(--light-color);
  display: none;
}

/* main */
.flex {
  display: flex;
  justify-content: space-between;
}
.wrap {
  font-size: 20px;
  height: 500px;
  width: 50%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family:'Times New Roman', Times, serif;
}
p {
  padding-left: 30px;
}
.img2 {
  height: 400px;
  width: 40%;
  background-image: url("/Customs Image/wrappingimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 20px 0px 20px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}
.wrap1 {
  font-size: 20px;
  height: 50%px;
  width: 50%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family:'Times New Roman', Times, serif;
}
.flex1 .wrap1 p{
  padding-right: 30px;
  padding-bottom: 50px;
}
.img3 {
  height: 400px;
  width: 40%;
  background-image: url("/Customs Image/calipers1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.flex2 {
  display: flex;
  justify-content: space-between;
}
.wrap2 {
  font-size: 20px;
  height: 500px;
  width: 50%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family:'Times New Roman', Times, serif;
}
.img4 {
  height: 400px;
  width: 40%;
  background-image: url("/Customs Image/alloys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 500px;
  width: 100%;
  color: black;
  font-size: 50px;
  background-color: aqua;
  /* background-image: url("/Customs Image/cars1.jpg");  */
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: whitesmoke;
}

h1 {
  background-color: burlywood;
  color: crimson;
  text-align: center;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  margin: 30px 0px 30px 0px;
}

h2 {
  
  text-align: right;
  color: darkolivegreen;
  text-transform: capitalize;
  text-shadow: 20vh;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  padding-right: 110px;
  padding-bottom: 10px;
}

h4 {
  text-align: left;
  color: darkolivegreen;
  text-transform: capitalize;
  text-shadow: 20vh;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  padding-left:  100px;
  padding-bottom: 10px;
  /* margin: 10px; */
}

.para {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  height: 400px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  padding-right: 30px;
}
.para h3 {
  font-size: 50px;
  width: 750px;
color:red;
  font-family: "Times New Roman", Times, serif;
  font-style: bold;
  font-weight: 200;
  padding: 10px;
  margin: 10px;
}

/* Footer */

.footer {
  background: #ffe3de;
  /* width:1500px; */
  /* padding-left: 60px; */
  padding-left: 100px;
  padding-bottom: 90px;
  padding-top: 30px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.55rem;
  padding: 1rem 0;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.77rem;
  padding: 1.2rem 0;
  color: var(--light-color);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.footer .box-container .box a:hover i {
  padding-right: 1.9rem;
}

body.dark .footer {
  background: #2678cf26;
  color: white;
}


@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  .header.active{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: block;
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  #login-btn .btn{
      display: none;
  }

  #login-btn i{
      display: block;
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background: #2666cf;
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      margin:2rem;
      display: block;
      font-size: 2rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 3rem;
  }

}